.cv-info-perso {
    min-height: 200px;
    max-height: 200px;
    background: #049F0C;
    color: white;
}

.cv-bg {
    min-height: 600px;
}

.cv-element-titre {
    color: #049F0C;
}

.cv-bar {
    background-color: #049F0C !important;
    margin-top: 2px;
    height: 2px;
    border: 1px solid #049F0C;
}

.cv-component {
    min-height: 200px;
}

.cv-div {
    border-left: 15px solid #049F0C !important;
}